<template>
    <div class="col-sm-8 mx-auto">
        <a href="/login/google" role="button">
            <img :src="'/images/btn_google_signin_dark_focus_web@2x.png'" style="width:90%;">
        </a>
    </div>
</template>

<script>
    export default {
        name: "GoogleLogin"
    }
</script>

<style scoped>

</style>
